/**
 * Created by Max on 22.04.2021.
 */

.THIS.headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(47, 58, 61);
}

.THIS .headerButton {
    margin: 1rem;
    background: #B82928;
}

.THIS .headerButtonAdd:hover {
    background: #7a0b0b;
}

.THIS .storeLogo {
    color: ghostwhite;
    margin: 10px;
    font-size: 14pt;
    font-family: Lato;
}

