/**
 * Created by Max on 18.04.2021.
 */

.THIS.mainPhoneStoreContainer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
    "a a"
    "b c";
    width: 100%;
    font-family: Lato;
}

.THIS .headerBox {
    grid-area: a;
}

.THIS .filtersBox {
    grid-area: b;
    background: #eeeded;
}

.THIS .tableBox {
    grid-area: c;
}

.THIS .supportBox {
    display: flex;
    place-content: flex-end;
    background: rgb(47, 58, 61);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.THIS .supportBoxButton{
    background: #B82928;
    margin: 10px;
}

.THIS .supportBoxButtonAdd:hover {
    background: #801616;
}